<h1>신이 <span style="color: red">나</span>를 만들 때</h1>
<img width=500px height= 250px  src="http://blogfiles5.naver.net/20150612_44/love_ya0713_1434080833556qis0f_PNG/capture-20150612-011951.png">
<form action="/home/result">
    <span style="font-weight:bold">이름을 입력해 주세요:</span><br>
    <input type="text" name='user' ><br>
    <input type="submit" value="제출">
</form>
